<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<h1 class="text-center">Hi {0}</h1>
<h2 class="text-center">Welcome to IntelliPOS</h2>
An account was created using this email for Merchant: {1}. You have been registered as the {2} of
{1}.
<br>
Your Username: {3}<br>
You IntelliPOS ID: {4}
<br><br>

Please user the above details and the password you set to log in to your Merchant Account

Kind Regards
IntelliPOS Support Team

</html>