{% extends "base.html" %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}

<div id="message" class="alert" role="alert">
    <p class="api-response" style="text-align: center;"></p>
</div>

<form  class="ajax-post" action="{% url 'password-reset-confirm' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="uid">
    <input type="hidden" name="token">

    <div class="form-group">
        <label>New Password</label>
        <input class="au-input au-input--full" type="password" name="new_password1" placeholder="New Password" required>
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input class="au-input au-input--full" type="password" name="new_password2" placeholder="Confirm Password" required>
    </div>

    <button class="au-btn au-btn--block au-btn--blue2 m-b-20" type="submit">Set New Password</button>

</form>
{%  endblock %}

{% block script %}
    <script type="text/javascript">

        const url_elements = window.location.pathname.split('/');
        if (url_elements.length == 9){
            const uid = url_elements[url_elements.length - 2]
            if (uid !== undefined){
                $('input[name=uid]').val(uid);
            }
            const token = url_elements[url_elements.length - 1];
            if (token !== undefined){
                $('input[name=token]').val(token);
            }
        }

        var error_response = function(data){
            $("#message").removeClass("alert-success").addClass("alert-danger");
            $('.api-response').html("Error: " + data.responseText);
        }
        var susccess_response = function(data){
            $("#message").removeClass("alert-danger").addClass("alert-success");
            $('.api-response').html(data.detail);
        }
        $().ready(function(){
            $('form.ajax-post button[type=submit]').click(function(){
            var form = $('form.ajax-post');
            $.post(form.attr('action'), form.serialize())
            .fail(function(data){
                error_response(data);
            })
            .done(function(data){
                form.hide();
                susccess_response(data);
            });
            return false;
            });
        });
        
    </script>
{% endblock %}

